.name {
    width: 455px;
    height: 44px;
    margin-left: 80px;
    margin-top: 25px;
    font-size: 36px;
    color: #000000;
}


.cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: 80px;
    margin-top: 41px;

}
.card {
    border-radius: 4px;
    border: 1px solid rgba(83, 83, 83, 0.25);
    box-shadow: 1px 1px 1px rgba(66, 66, 66, 0.5);
    margin-right: 40px;
    margin-bottom: 40px;
}

.image {
    height: 200px;
    margin: 16px 16px 0px 16px; 
} 
.card-title {
    width: 288px;
    height: 29px;
    font-size: 24px;
    color: #000000;
    margin-left: 16px;
    margin-top: 24px;
    font-family: 'Montserrat';

}

.card-description {
    width: 266px;
    height: 102px;
    font-size: 14px;
    color: #000000;
    margin: 12px 38px 49px 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
} 

.buttons {
  display: flex;
  flex-wrap: wrap;
}

.delete {
    padding: 6px 28px;
    font-size: 18px;
    color: #5798F9;
    border: 1px solid #5798F9;
    background: white;
    border-radius: 6px;
    margin-left: 16px;
    margin-bottom: 16px;
    font-family: 'Montserrat', sans-serif;
} 

.more {
    padding: 6px 28px;
    font-size: 18px;
    color: white;
    border: 1px solid #5798F9;
    background: #5798F9;
    border-radius: 6px;
    margin-left: 50px;
    margin-bottom: 16px;
    font-family: 'Montserrat', sans-serif;
} 